.filter-panel:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
}

.filter-panel h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #222;
    position: relative;
}

.filter-panel h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: #555;
    margin: 10px auto 0;
    border-radius: 2px;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #444;
}

.filter-section label {
    display: block;
    font-size: 0.95em;
    margin-bottom: 5px;
    color: #666;
}

.filter-section input,
.filter-section select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    color: #333;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.filter-section input:focus,
.filter-section select:focus {
    outline: none;
    border-color: #888;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.filter-submit {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.filter-submit:hover {
    background-color: #555;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.rating-stars {
    display: flex;
    gap: 8px;
    align-items: center;
}

.rating-stars label {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.rating-stars label:hover,
.rating-stars label:hover ~ label {
    color: #ffcc00;
    transform: scale(1.1);
}

.rating-stars input:checked ~ label,
.rating-stars input:checked ~ label ~ label {
    color: #ccc;
}

.rating-stars input:checked + label,
.rating-stars input:checked + label ~ label {
    color: #ffcc00;
}

.rating-stars input {
    display: none;
}

.wine-options {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.wine-options label {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.wine-options label:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.wine-options input[type="checkbox"] {
    display: none;
}

.wine-options span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 8px;
    transition: box-shadow 0.3s ease;
}

.red-circle {
    background-color: #b22222;
    box-shadow: 0 0 0 2px rgba(178, 34, 34, 0.5);
}

.rosé-circle {
    background-color: #f08080;
    box-shadow: 0 0 0 2px rgba(240, 128, 128, 0.5);
}

.white-circle {
    background-color: #f5f5f5;
    box-shadow: 0 0 0 2px rgba(9, 8, 8, 0.5);
}

.sparkling-circle {
    background-color: #ffd700;
    box-shadow: 0 0 0 2px rgba(255, 215, 0, 0.5);
}

.wine-options input[type="checkbox"]:checked + span {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid #333;
}

.wine-options input[type="checkbox"]:checked + span {
    animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.suggestions div {
    padding: 8px;
    cursor: pointer;
}

.suggestions div:hover {
    background-color: #f0f0f0;
}

.selected-tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.selected-tags .tag {
    background-color: #3d0709;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.selected-tags .tag span {
    cursor: pointer;
}

.selected-tags .tag:hover {
    background-color: #3d0709;
}

#region-input, #grapes-input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.selected-tags .tag {
    background-color: #3d0709;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.selected-tags .tag span {
    cursor: pointer;
}

.selected-tags .tag:hover {
    background-color: #3d0709;
}

@media (max-width: 768px) {
    .filter-section .wine-options label {
        flex: 1 1 100%;
    }
}

.more-filters-button {
    display: block;
    width: 60%;
    padding: 8px;
    font-size: 0.7em;
    font-weight: bold;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    margin-bottom: 20px;
}
