body {
    background-color: white;

    justify-content: flex-start;

}



#scene-container {
    width: 50vw;
    height: 600px;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 70px;
    background-color: transparent;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: Arial, sans-serif;
}