body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.navigation a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.auth {
    display: flex;
    align-items: center;
}

.login {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.signup {
    padding: 5px 15px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #900;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style pour le bouton de menu hamburger */
.menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 15px;
}

.menu-icon span {
    font-size: 24px;
    color: #333;
}

/* Style du menu déroulant */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    z-index: 10;
    text-align: center;
}

/* Style des liens du menu déroulant */
.dropdown-menu a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

body {
    margin: 0;
    line-height: normal;
}

.popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
}






                                /*               Page A Propos                */
/* Container principal */
.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Titre principal */
.about-title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

/* Conteneur des cartes */
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

/* Style de chaque carte */
.card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.team-picture {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.team-photo {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titre de chaque carte */
.card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

/* Informations de contact */
.contact-info {
    font-size: 1em;
    line-height: 1.5;
    color: #555;
}

/* Iframe Google Map ajusté */
iframe {
    border-radius: 10px;
    margin-top: 15px;
}

                            /*              Bouteille 3D INDEX                */
#scene-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

