/* Conteneur principal pour les résultats de recherche */
.search-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Style pour chaque carte de résultat */
.result-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-item:hover {
    transform: scale(1.05);
}

/* Image de vignette */
.wine-thumbnail {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

/* Titre de l'élément */
.result-item h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Lien pour voir les détails */
.details-link {
    display: inline-block;
    margin: 10px 0 20px;
    padding: 8px 16px;
    background-color: #900; /* Couleur principale */
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.details-link:hover {
    background-color: #700;
}

/* Style pour le titre principal de la page */
h1 {
    font-size: 2.5em;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
}

/* Ligne décorative sous le titre */
h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: #900;
    margin: 10px auto 0;
    border-radius: 2px;
}

/* Conteneur de la pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Liens de pagination */
.pagination-link {
    margin: 0 5px;
    padding: 8px 12px;
    color: #333;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.pagination-link:hover {
    background-color: #900;
    color: #fff;
}

/* Lien actif pour la pagination */
.pagination-link.active {
    background-color: #900;
    color: #fff;
    cursor: default;
}

/* Style pour le formulaire de tri par prix */
.sort-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    justify-content: flex-end;
    margin-right: 400px;
}

.sort-form label {
    font-size: 16px;
    margin-right: 10px;
    color: #333;
}

.sort-form select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.sort-form select:hover {
    border-color: #333;
}

.sort-form select:focus {
    border-color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sort-form button {
    margin-left: 15px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s;
}

.sort-form button:hover {
    background-color: #555;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
