body {
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
}

.stats-container {
    margin: 50px auto;
    width: 90%;
    background-color: #fff;
    max-width: 1360px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    margin-bottom: 30px;
    color: #000000;
}

.last-connexion {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    font-size: 1.2em;
}

.last-connexion p {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.last-connexion p:first-child {
    font-size: 1.1em;
    color: #a12b2b;
    font-weight: bold;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}
