.image-detail-vin-icon {
    position: absolute;
    top: 198px;
    left: 135px;
    width: 125px;
    height: 472px;
    object-fit: cover;
}
.acidit {
    position: absolute;
    top: 0px;
    left: 6.03px;
    line-height: 48px;
    display: inline-block;
    width: 125.8px;
    height: 23.5px;
}
.container {
    position: absolute;
    top: 42.64px;
    left: 0px;
    border-radius: 24px;
    background: linear-gradient(90deg, #fbff04, #ff8c00 50%, #ee0606);
    width: 368px;
    height: 20px;
}
.group-child {
    position: absolute;
    top: 39.16px;
    left: 174.09px;
    width: 29.3px;
    height: 27.8px;
}
.beak-icon {
    width: 11.3px;
    position: absolute;
    margin: 0 !important;
    bottom: -5.15px;
    left: calc(50% - 5.71px);
    height: 11.3px;
    object-fit: contain;
    z-index: 0;
}
.beak-stroke-icon {
    width: 11.3px;
    position: absolute;
    margin: 0 !important;
    bottom: -5.15px;
    left: calc(50% - 5.71px);
    height: 11.3px;
    object-fit: contain;
    z-index: 1;
}
.title {
    position: relative;
    line-height: 140%;
    font-weight: 600;
    z-index: 2;
}
.body-text {
    position: relative;
    font-size: 14px;
    line-height: 140%;
    z-index: 3;
}
.tooltip {
    position: absolute;
    top: 1.74px;
    left: 151.68px;
    box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1), 0px 1px 4px rgba(12, 12, 13, 0.05);
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    width: 74.1px;
    height: 32.2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 12px;
    text-align: center;
    font-size: 16px;
    font-family: Inter;
}
.acidit-parent {
    position: absolute;
    top: 316px;
    left: 31px;
    width: 368px;
    height: 67px;
}
.degrs-alcool {
    position: absolute;
    top: 7.13px;
    left: 8.58px;
    line-height: 48px;
    display: inline-block;
    width: 187.9px;
    height: 23.5px;
}
.b {
    position: absolute;
    top: 0px;
    left: 298.52px;
    line-height: 72px;
    display: inline-block;
    width: 63.5px;
    height: 35.6px;
}
.container1 {
    position: absolute;
    top: 58.02px;
    left: 0px;
    border-radius: 24px;
    background: linear-gradient(90deg, #ff0408, #b10b0d 50%, #761414);
    width: 361.6px;
    height: 24.5px;
}
.group-item {
    position: absolute;
    top: 54.75px;
    left: 102.08px;
    border-radius: 50%;
    background-color: #000;
    width: 29.2px;
    height: 27.8px;
}
.group-inner {
    position: absolute;
    top: 61.7px;
    left: 108.94px;
    width: 15.4px;
    height: 14.3px;
}
.degrs-alcool-parent {
    position: absolute;
    top: 379px;
    left: 37px;
    width: 362px;
    height: 82.6px;
}
.cpages-pinot {
    position: absolute;
    top: 107px;
    left: 54px;
    font-size: 24px;
    display: inline-block;
    font-family: 'Baloo 2';
    width: 240px;
    height: 39px;
}
.type {
    position: absolute;
    top: 57px;
    left: 54px;
    font-size: 24px;
    display: inline-block;
    font-family: 'Baloo 2';
    width: 82px;
    height: 39px;
}
.vin-conomique1 {
    font-size: 24px;
}
.vin-conomique {
    position: absolute;
    top: 162px;
    left: 54px;
    font-family: 'Baloo 2';
    font-size: 40px;
}
.composition-100 {
    position: absolute;
    top: 216px;
    left: 54px;
    font-size: 24px;
    display: inline-block;
    font-family: 'Baloo 2';
    width: 325px;
    height: 39px;
}
.frame-child {
    position: absolute;
    top: 271.5px;
    left: -0.5px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 880px;
    height: 1px;
}
.avec-quoi-le {
    margin: 0;
}
.p {
    margin: 0;
    font-size: 64px;
    white-space: pre-wrap;
}
.avec-quoi-le-container {
    position: absolute;
    top: 328px;
    left: 456px;
    display: inline-block;
    width: 423px;
    height: 153px;
}
.frame-item {
    position: absolute;
    top: 61px;
    left: 136px;
    border-radius: 50%;
    background-color: #b01f1f;
    width: 32px;
    height: 30px;
}
.frame-inner {
    position: absolute;
    top: 271.5px;
    left: 427.5px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
    height: 338px;
}
.winners-podium-icon-place-awar {
    position: absolute;
    top: 12px;
    left: 0px;
    width: 378px;
    height: 174px;
    object-fit: cover;
}
.capture-decran-2024-10-23-a {
    position: absolute;
    top: 40px;
    left: 241px;
    width: 73px;
    height: 66px;
    object-fit: cover;
}
.capture-decran-2024-10-23-a1 {
    position: absolute;
    top: 0px;
    left: 155px;
    width: 69px;
    height: 73px;
    object-fit: cover;
}
.capture-decran-2024-10-23-a2 {
    position: absolute;
    top: 37px;
    left: 77px;
    width: 61px;
    height: 53px;
    object-fit: cover;
}
.accord-mets-child {
    position: absolute;
    top: 109px;
    left: 83px;
    background-color: #d9d9d9;
    width: 40px;
    height: 43px;
}
.accord-mets-item {
    position: absolute;
    top: 91px;
    left: 177px;
    background-color: #d9d9d9;
    width: 34px;
    height: 40px;
}
.accord-mets-inner {
    position: absolute;
    top: 132px;
    left: 259px;
    background-color: #d9d9d9;
    width: 38px;
    height: 28px;
}
.accord-mets {
    position: absolute;
    top: 383px;
    left: 456px;
    width: 378px;
    height: 186px;
}
.plats2 {
    position: absolute;
    top: 507px;
    left: 534px;
    font-size: 12px;
    display: inline-block;
    width: 45px;
    height: 21px;
}
.plats3 {
    position: absolute;
    top: 518px;
    left: 703px;
    font-size: 12px;
    display: inline-block;
    width: 62px;
    height: 22px;
}
.plats1 {
    position: absolute;
    top: 493px;
    left: calc(50% + 162.5px);
    font-size: 12px;
    display: inline-block;
    text-align: center;
    width: 87px;
    height: 46px;
}
.image-6-icon {
    position: absolute;
    top: 25px;
    left: 731px;
    width: 34px;
    height: 34px;
    object-fit: cover;
}
.line-icon {
    position: absolute;
    top: 25px;
    left: 503px;
    width: 1px;
    height: 247px;
    object-fit: contain;
}
.prix-90 {
    position: absolute;
    top: 22px;
    left: 548px;
    font-size: 24px;
    display: inline-block;
    font-family: 'Baloo 2';
    white-space: pre-wrap;
    width: 240px;
    height: 39px;
}
.tempimagebgwhib-icon {
    position: absolute;
    top: 143px;
    left: 527px;
    border-radius: 30px;
    width: 42px;
    height: 39px;
    object-fit: cover;
}
.tempimage1qw2ge-icon {
    position: absolute;
    top: 202px;
    left: 527px;
    border-radius: 30px;
    width: 42.3px;
    height: 39px;
    object-fit: cover;
}
.flavor-1 {
    position: absolute;
    top: 120px;
    left: 584px;
    font-family: Baloo;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 149px;
    height: 31px;
}
.flavor-2 {
    position: absolute;
    top: 180px;
    left: 585px;
    font-family: Baloo;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 28px;
}
.flavor-3 {
    position: absolute;
    top: 230px;
    left: 585px;
    font-family: Baloo;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 28px;
}
.armes {
    position: absolute;
    top: 80px;
    left: 570px;
    font-family: Baloo;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 183px;
    height: 33px;
}
.vector-icon {
    position: absolute;
    top: 75.5px;
    left: 509.5px;
    max-height: 100%;
    width: 366px;
}
.group-parent {
    position: absolute;
    top: 181px;
    left: 531px;
    box-shadow: 0px 16px 32px -8px rgba(12, 12, 13, 0.4);
    border-radius: 24px;
    background-color: rgba(176, 31, 31, 0.02);
    width: 879px;
    height: 615px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    font-family: Poppins;
}
.dtails-sur-un-vin-child {
    position: absolute;
    top: 714px;
    left: 87px;
    width: 240px;
    height: 56px;
}
.beak-icon1 {
    width: 11.3px;
    position: absolute;
    margin: 0 !important;
    bottom: -5.35px;
    left: calc(50% - 5.16px);
    height: 11.3px;
    object-fit: contain;
    z-index: 0;
}
.beak-stroke-icon1 {
    width: 11.3px;
    position: absolute;
    margin: 0 !important;
    bottom: -5.35px;
    left: calc(50% - 5.16px);
    height: 11.3px;
    object-fit: contain;
    z-index: 1;
}
.tooltip1 {
    position: absolute;
    top: 192px;
    left: 243px;
    box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1), 0px 1px 4px rgba(12, 12, 13, 0.05);
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    width: 133px;
    height: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 12px;
}
.beak-icon2 {
    width: 11.3px;
    position: absolute;
    margin: 0 !important;
    bottom: -5.35px;
    left: calc(50% - 5.66px);
    height: 11.3px;
    object-fit: contain;
    z-index: 0;
}
.beak-stroke-icon2 {
    width: 11.3px;
    position: absolute;
    margin: 0 !important;
    bottom: -5.35px;
    left: calc(50% - 5.66px);
    height: 11.3px;
    object-fit: contain;
    z-index: 1;
}
.tooltip2 {
    position: absolute;
    top: 192px;
    left: 12px;
    box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1), 0px 1px 4px rgba(12, 12, 13, 0.05);
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    width: 154px;
    height: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 12px;
}
.span {
    font-size: 36px;
}
.chteau-ptrus-occitanie {
    margin: 0;
    font-size: 32px;
    font-family: 'Baloo 2';
}
.pomerol-chteau-ptrus-container {
    position: absolute;
    top: 95px;
    left: 758px;
    font-size: 40px;
    font-family: Aclonica;
}
.footer-icon {
    position: absolute;
    top: 829px;
    left: 0px;
    width: 1452px;
    height: 195px;
}
.favorite-icon {
    position: absolute;
    top: 239px;
    left: 287px;
    width: 44px;
    height: 41px;
    overflow: hidden;
}
.capture-d-ecran-2024-10-16-a-icon {
    position: absolute;
    top: 239px;
    left: 68px;
    width: 42px;
    height: 41px;
    object-fit: cover;
}
.dtails-sur-un-vin {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #000;
    font-family: Inter;
}

