# Ignorer les de variables d'environnement (acces bdd...)
.env

# Ignorer les fichiers DS_Store (macOS)
.DS_Store

# Ignorer les fichiers de log
*.log

# Ignorer les fichiers de configuration d'environnement local
.env
.env.local
.env.*.local

# Ignorer les dépendances
node_modules/
vendor/

# Ignorer les fichiers de compilation temporaire
dist/
build/

# Ignorer les fichiers de caches IDE (ex: VSCode)
.vscode/
.idea/

# Ignorer les fichiers système
Thumbs.db
.DS_Store

# Ignorer les fichiers de configuration spécifiques au système
*.swp
*~

# Cache python du ML
ML_chatbot/__pycache__/ 
# je push pas les fichiers d'entrainement du ML c'est lourd mdrrrr
ML_chatbot/food_label_vocab.json
ML_chatbot/food_to_wine_model.pt
ML_chatbot/text_vocab.json
ML_chatbot/wine_label_vocab.json
ML_chatbot/wine_to_food_model.pt


