Flask
mysql-connector-python
python-dotenv
torch
transformers
sentence-transformers
xgboost
numpy
pandas
scikit-learn
scipy
#sur vps : torch==2.2.2+cpu -f https://download.pytorch.org/whl/torch_stable.html
